@charset "utf-8";
/* Variables */
$backgroundColor: black; 

@mixin rounded-box($rounded-corners, $border-color, $color, $backgroundColor){
	  
    border-radius:$rounded-corners;    
    border:1px solid $border-color;
    color:$color;
    background-color:$backgroundColor;
}
// @include rounded-box(3px,$backgroundColor, black, white);
// @include rounded-box(3px,$backgroundColor, white, $backgroundColor);


/* Box Sizing Reset */
/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/*----------------------------
HTML selectors
----------------------------*/

body {
	margin: 0;
	font-family: 'Karla', sans-serif;
    background-color: #ebebeb;
    width:1024px;
}

h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;
}

h1, h2, h3, nav a {
	font-family: 'Montserrat', sans-serif;
}
h1 {
	margin-bottom: 0;
	line-height: 70px;
	font-size: 2rem;
	padding-left: 12px;
}
h2{
    text-align:center;
}

img {
	max-width: 100%;
	height: 100px;
}


header {
	background-color: $backgroundColor;
	color: white;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
article{	
	padding:5px;
	width:23%;
    margin-bottom:10px;	
    @include rounded-box(5px,$backgroundColor, black, white);
    align-items:center;
    div{
        display:flex;
        flex-wrap:wrap;
        align-items:center;
        justify-content: center;
    
        img{
            max-width: 100%;
            height: 40px;
            margin:10px;
        }
        p{
            margin-top:15px;
            font-size:1.1em;
        }
    }
    
}
aside{
    padding:5px;
	width:48%;
    margin:10px;	
    color: white;
    @include rounded-box(5px,$backgroundColor, white, $backgroundColor);

}

p{
    text-align:center;
    font-size:1.1em;
}
footer {
    color: black;
    width:96%;
	padding: 5px;
	display:flex;
    justify-content:space-between;	

}


/*----------------------------
CLASS selectors
----------------------------*/


.game_rounds{
	display:flex;
    justify-content: space-around;
    
}
.rules{
    display:flex;
    justify-content: center;
}



.btn-align{
    display:flex;
    justify-content: space-around;
}
.show {
	display: block;
}
/*---------------------------
ID selectors
----------------------------*/
/* Container */
#wrapper{
	background-color: white;
	width: 100%;	
	margin: 0 auto;
	padding: 10px;
}

#btnRollDice {
	display: block;
	font-size: 1.3rem;
	text-transform: uppercase;
	cursor: pointer;
    padding: 12px;
    margin-bottom: 10px;
    @include rounded-box(5px,$backgroundColor, white,  red);
}

#btnNewGame {
	display: block;
	font-size: 1.3rem;
	text-transform: uppercase;
	cursor: pointer;
    padding: 12px;
    margin-bottom: 10px;
    @include rounded-box(5px,$backgroundColor, white,  red);


}
