@charset "utf-8";
/* Variables */
$backgroundColor: black; 

@mixin rounded-box($rounded-corners, $border-color, $color, $backgroundColor){
	  
    border-radius:$rounded-corners;    
    border:1px solid $border-color;
    color:$color;
    background-color:$backgroundColor;
}
// @include rounded-box(3px,$backgroundColor, black, white);
// @include rounded-box(3px,$backgroundColor, white, $backgroundColor);


/* Box Sizing Reset */
/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}




/*
----------------------------
HTML element selectors
----------------------------
*/



/* typography */
body {
	margin: 0;
	font-family: 'Karla', sans-serif;
    background-color: #ebebeb;
    width:1024px;
}

h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;
}

h1, h2, h3, nav a {
	font-family: 'Montserrat', sans-serif;
}
h1 {
	margin-bottom: 0;
	line-height: 70px;
	font-size: 2rem;
	padding-left: 12px;
}
h2{
    text-align:center;
}

img {
	max-width: 100%;
	height: 100px;
}

/* header styles */
header {
	background-color: $backgroundColor;
	color: white;
	/* 
	send the menu button 
	to the far right by turning
	the header into a flex box
	
	use justify-content: 
	to shift alignment 
	along the main axis
	*/
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
article{	
	padding:5px;
	width:23%;
    margin-bottom:10px;	
    @include rounded-box(5px,$backgroundColor, black, white);
    align-items:center;
}
aside{
    padding:5px;
	width:48%;
    margin:10px;	
    color: white;
    @include rounded-box(5px,$backgroundColor, white, $backgroundColor);

}

p{
    text-align:center;
}
footer {
    color: black;
    width:96%;
	padding: 5px;
	display:flex;
    justify-content:space-between;	

}


/*
----------------------------
.class selectors
----------------------------
*/


.game_rounds{
	display:flex;
    justify-content: space-around;
    
}
.rules{
    display:flex;
    justify-content: center;
}

.footer-link ,
.footer-link:hover,
.footer-link:active,
.footer-link:focus {
	text-decoration: none;
	color: white;
}

.btn-align{
    display:flex;
    justify-content: space-around;
}
.show {
	display: block;
}
/*
----------------------------
id selectors
----------------------------
*
/* Container */
#wrapper{
	background-color: white;
	width: 100%;	
	margin: 0 auto;
	padding: 10px;
}

#btn-roll-dice-player {
	display: block;
	font-size: 1.3rem;
	text-transform: uppercase;
	cursor: pointer;
    padding-right: 12px;

    @include rounded-box(5px,$backgroundColor, white,  red);
}
#btn-roll-dice-opp {
	display: block;
	font-size: 1.3rem;
	text-transform: uppercase;
	cursor: pointer;
    padding-right: 12px;

    @include rounded-box(5px,$backgroundColor, white,  red);
}
#btn-new-game {
	display: block;
	font-size: 1.3rem;
	text-transform: uppercase;
	cursor: pointer;
    padding-right: 12px;
    @include rounded-box(5px,$backgroundColor, white,  red);
    margin-bottom: 20px;

}
